<p id="notice"><%= notice %></p>

<p>
  <strong><%= t '.title' %></strong>
  <%= @article.title %>
</p>

<p>
  <strong><%= t '.content' %></strong>
  <%= @article.content %>
</p>

<%= link_to '編集', edit_article_path(@article) %> |
<%= link_to '一覧', articles_path %>
